name: Cleanup GHCR
on: workflow_dispatch
jobs:
  clean:
    runs-on: ubuntu-latest
    permissions:
      packages: write
    steps:
      - uses: actions/delete-package-versions@v5
        with:
          owner: niclassslua
          package-name: unimannheim-bib-discord-bot
          package-type: container
          min-versions-to-keep: 10
          delete-only-untagged-versions: false
